/**
 * Wise Chat core CSS.
 *
 * @author Kainex <contact@kaine.pl>

 KOLORY 
 TEXT Domyslny: #161a27
 TEXT Jasny: #a6a6a6
 BORDERS jasny: #dfdfdf
 BORDERS ciemny: #a6a6a6 
 */

/* Commons: */

.wcContainer * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wcContainer a {
	box-shadow: none !important;
}

.wcContainer .wcDebug {
	height: 200px;
	width: 100%;
	overflow: scroll;
	border: 2px solid #f00;
	padding: 5px;
}

.wcContainer .wcIcon {
	border-radius: 0;
	box-shadow: none;
	border: none;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 2px;
}

.wcMessage .wcAdminAction {
	padding: 0;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	text-decoration: none;
	border: 1px solid #A6A6A6;
	border-radius: 50%;
	transition: all .2s ease-in;
	font-size: 0.9%;
}

.wcMessage .wcAdminAction.wcMessageDeleteButton {
	background: transparent url("../gfx/icons/x.svg") no-repeat 50%;
}

.wcMessage .wcAdminAction.wcUserBanButton {
	background: transparent url("../gfx/icons/block.svg") no-repeat 50%;
}

.wcMessage .wcAdminAction.wcUserKickButton {
	background: transparent url("../gfx/icons/kick.svg") no-repeat 50%;
}

.wcMessage .wcAdminAction.wcSpamReportButton {
	background: transparent url("../gfx/icons/spam.svg") no-repeat 50%;
}

.wcMessage .wcAdminAction:hover {
	background-color: #dfdfdf;
}

.wcMessage .wcAdminAction:focus {
	outline: none;
}

.wcMessage .wcEmoticon {
	border-radius: 0;
	box-shadow: none;
	border: none;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 4px;
}

.wcMessage .wcImage {
	border-radius: 0;
	box-shadow: none;
	border: none;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 4px;
}

.wcMessage .wcVideoPlayer {
	border-radius: 0;
	box-shadow: none;
	border: none;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 4px;
}

.wcContainer .wcMessages .wcMessage {
	margin-bottom: 15px;
}

.wcContainer .wcMessages .wcMessage .wcMessageContent {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	display: block;
	background: #f7f7f7;
	padding: 10px;
	clear: both;
	line-height: 1.3;
}

.wcContainer .wcMessages .wcMessage .wcMessageContent img {
	max-width: 35px;
	max-height: 35px;
	border-radius: 5px;
}

.wcContainer .wcClear {
	clear: both;
	line-height: 0.1%;
	font-size: 0.1%;
	height: 0.1%;
}

/* Container: */
.wcContainer {
	width: 100%;
}

.wcContainer .wcPoweredBy {
	text-align: right;
	font-size: 0.8em;
	margin-top: 2px;
	padding: 0px;
}

.wcContainer .wcPoweredBy a {
	font-size: 1em;
}

.wcContainer .wcControls .wcPoweredBy {
	padding: 0px;
}

.wcContainer .wcWindowContent {
	padding: 2%;
	border: 1px solid #dfdfdf;
}

/* wcControls: */
.wcContainer .wcControls {
	border: 1px solid #dfdfdf;
	padding: 2%;
}

.wcContainer .wcControls:last-child {
	border-top: 0;
}

.wcContainer .wcWindowTitle+.wcControls {
	border-bottom: 0;
}

/* Messages list: */
.wcContainer .wcMessages {
	width: 100%;
	height: 200px;
	overflow: auto;
	background-color: #fff;
	margin: 0px;
	-webkit-overflow-scrolling: touch;
	border: 1px solid #dfdfdf;
	border-right: 0;
	padding: 2%;
}


/* Users list: */
.wcUsersListIncluded .wcMessages {
	float: left;
	width: 70%;
	overflow: auto;
}

.wcUsersListIncluded .wcUsersList {
	height: 200px;
	border: 1px solid #dfdfdf;
	overflow: auto;
	background-color: #fff;
	margin: 0px;
	padding: 2%;
	-webkit-overflow-scrolling: touch;
	line-height: 1em;
}

.wcContainer .wcUsersCounter {
	float: right;
	font-size: 80%;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	width: 100%;
	text-align: right;
	padding-right: 2%;
	line-height: 2.5em;
	border-bottom: 1px solid #dfdfdf;
}
.wcContainer .wcUsersCounter +br.clear {
	display: none;
}
.wcContainer .wcUsersCounter span {
	font-weight: bold;
}

.wcErrorMessage {
	color: #ff0000;
	vertical-align: bottom;
}

.wcError:before {
	content: '';
	display: inline-block;
	vertical-align: baseline;
	margin-right: 5px;
	width: 23px;
	height: 20px;
	background: url("../gfx/icons/warnings.svg") 0px 0 no-repeat;
}

.wcMessage .wcActionWrapper {
	float: right;
	line-height: 1em;
}

.wcMessage .wcMessageUser {
	float: left;
	margin-right: 5px;
	line-height: 1em;
}

.wcMessage .wcMessageTime {
	float: left;
	line-height: 1em;
}

.wcMessageTimeDate,
.wcMessageTimeHour {
	font-size: 0.8em;
	color: #a6a6a6;
}

.wcCurrentUserMessage .wcMessageUser {
	font-weight: bold;
}

.wcUsersList .wcCurrentUser,
.wcUsersList .wcCurrentUser a {
	font-weight: bold;
}

.wcContainer input.wcInput,
.wcContainer textarea.wcInput,
.wcContainer progress.wcMainProgressBar {
	width: 100%;
	font-size: 1em;
}

/* Progress bar cross-browser styling */
.wcContainer progress,
.wcContainer progress[role] {
	height: 5px;
	margin-top: 10px;
	line-height: 5px;
	display: block;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	background-size: auto;
}

.wcContainer progress[role]:after {
	background-image: none;
}

.wcContainer progress[role] strong {
	display: none;
}

/* Progress bar - background */
.wcContainer progress,
.wcContainer progress[role][aria-valuenow] {
	background: #ccc !important;
}

.wcContainer progress::-webkit-progress-bar {
	background: #ccc;
	border-radius: 5px !important;
}

/* Progress bar - foreground */
.wcContainer progress {
	color: #5789FF;
	border-radius: 5px !important;
}

.wcContainer progress::-moz-progress-bar {
	background: #5789FF;
	border-radius: 5px !important;
}

.wcContainer progress::-webkit-progress-value {
	background: #5789FF;
	border-radius: 5px !important;
}

.wcContainer progress[aria-valuenow]:before {
	background: #5789FF;
	border-radius: 5px !important;
}

.wcContainer input.wcUserName {
	margin-right: 5px;
	max-width: 200px;
}

.wcControls .wcCurrentUserName {
	display: block;
	font-weight: bold;
}

.wcControls .wcInputContainer {
	overflow: hidden;
}

.wcControls input.wcInput,
.wcControls textarea.wcInput,
.wcControls input.wcInput:focus,
.wcControls textarea.wcInput:focus {
	width: 100%;
	border: 0;
	background: #f7f7f7;
	outline: 0;
}

.wcControls input.wcSubmitButton {
	float: right;
}

.wcControls input.wcSubmitButton,
.wcControls input.wcInput {
	height: 55px;
	line-height: 1.8em;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Tool buttons */
.wcControls a.wcToolButton {
	float: right;
	cursor: pointer !important;
	display: inline-block;
	width: 55px;
	height: 55px;
	position: relative;
	overflow: hidden;
	transition: all .2s ease-in;
}

.wcControls a.wcToolButton:hover {
	cursor: pointer !important;
	background-color: #dfdfdf;
}

.wcControls a.wcToolButton input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.001;
	cursor: pointer;
	z-index: 1000;
	margin: 0;
}

/* Attachments */
.wcControls a.wcAddImageAttachment {
	background: #f7f7f7 url('../gfx/icons/camera.svg') center center no-repeat;
	width: 50px;
}

.wcControls a.wcAddFileAttachment {
	background: #f7f7f7 url('../gfx/icons/attach.svg') center center no-repeat;
	width: 46px;
}

.wcControls a.wcInsertEmoticonButton {
	background: #f7f7f7 url('../gfx/icons/emoticon.svg') center center no-repeat;
	width: 46px;
}

.wcMessageAttachments {
	margin-top: 2px;
}

.wcMessageAttachments .wcImageUploadPreview {
	max-width: 70px;
	max-height: 50px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
	border-radius: 5px;
}

.wcMessageAttachments a.wcAttachmentClear {
	width: 21px;
	height: 21px;
	line-height: 12px;
	border: 1px solid #A6A6A6;
	border-radius: 50%;
	transition: all .2s ease-in;
	padding: 0;
	display: inline-block;
}

.wcMessageAttachments a.wcAttachmentClear:hover {
	background-color: #dfdfdf;
}

/* Image viewer: */
.wcImagePreviewFade {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity=70);
}

.wcImagePreview {
	display: none;
	position: absolute;
	padding: 0;
	border: none;
	background: transparent;
	z-index: 1002;
	overflow: visible;
}

.wcImagePreview img {
	border-radius: 0;
	box-shadow: none;
	border: none;
}

.wcCustomizations input[type="checkbox"] {
	vertical-align: middle;
	width: 15px;
	height: 15px;
}

.wcContainer .wcCustomizationsPanel {
	overflow: hidden;
}

.wcContainer .wcCustomizationsPanel .wcCustomizationsProperty {
	float: left;
	vertical-align: top;
}

.wcContainer .wcCustomizationsPanel .wcCustomizationsProperty:not(:last-child) {
	margin-right: 20px;
}

.wcContainer .wcCustomizationsPanel label,
.wcContainer .wcCustomizationsPanel input {
	vertical-align: middle;
	display: inline;
	width: auto;
}

.wcCustomizationsProperty input.wcTextColorReset {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
}

.wcUserNameApprove {
	max-width: none;
	width: auto;
}

.wcContainer .wcChannelProtectionHint {
	margin: 10px 0px;
}

.wcContainer .wcUserNameHint:before,
.wcContainer .wcChannelProtectionHint:before {
	content: '';
	display: inline-block;
	vertical-align: baseline;
	margin-right: 5px;
	width: 23px;
	height: 20px;
	background: url("../gfx/icons/warnings.svg") -30px 0 no-repeat;
}

.wcContainer .wcChannelAuthorizationError,
.wcContainer .wcUserNameError {
	margin: 10px 0px;
	color: #ff0000;
}

.wcContainer .wcChannelAuthorizationError:before,
.wcContainer .wcUserNameError:before {
	content: '';
	display: inline-block;
	vertical-align: baseline;
	margin-right: 5px;
	width: 23px;
	height: 20px;
	background: url("../gfx/icons/warnings.svg") 0px 0 no-repeat;
}

div.wcEmoticonsLayer,
div.colorPicker-palette {
	height: auto;
	border: 1px solid #dfdfdf !important;
	position: absolute;
	background-color: #f7f7f7;
	z-index: 9999;
	border-radius: 10px 10px 10px 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding: 10px 0;
}

.colorPicker-palette {
	width: 216px !important;
}

div.colorPicker-picker {
	border: 1px solid #a6a6a6;
	border-radius: 5px;
}

.wcEmoticonsLayer {
	width: 185px;
}

.wcEmoticonsLayer a {
	display: inline-block;
	width: 28px;
	height: 28px;
	border: 1px solid transparent;
	line-height: 28px;
	border-radius: 50%;
}

.wcEmoticonsLayer a:hover {
	background: #FFF;
	border-color: #a6a6a6;
}

.wcEmoticonsLayer a img {
	border: none;
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
}

/* window content */
.wcContainer .wcWindowContent input[name='wcUserName'] {
	width: auto;
}

.wcContainer .wcWindowContent input[name='wcChannelPassword'] {
	width: auto;
}

/* Channel users widget */
.wcContainer.wcChannelUsersWidget .wcUsersList {
	padding: 2%;
	line-height: 1;
}

.wcUsersList .wcUserInChannel {
	display: block;
	line-height: 1;
	border-top: 1px solid #dfdfdf;
	padding-top: 10px;
	margin-top: 10px;
	width: 100%;
}

.wcUsersList .wcUserInChannel:first-child {
	border-top: 0;
	padding-top: 0;
}

.wcUsersList .wcUsersListCity {
	font-size: 0.8em;
	color: #a6a6a6;
	line-height: 1;
}

.wcContainer.wcChannelUsersWidget .wcUsersList .wcCurrentUser {
	font-weight: normal;
}

.wcCustomizations a {
	font-size: 80%;
	text-decoration: none !important;
	display: inline-block;
}

.wcCustomizations a.wcCustomizeButton {
	padding-left: 20px;
	position: relative;
}

.wcCustomizations a.wcCustomizeButton:before {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: url('../gfx/icons/custom.svg') center center no-repeat;
}

@media (min-width: 768px) {
	.wcMessage .wcAdminAction {
		opacity: 0;
	}

	.wcMessage:hover .wcAdminAction {
		opacity: 1;
	}
}

.wcWidth300 .wcMessageContent {
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.wcWidth300 .wcMessages {
	border-right: 1px solid #dfdfdf;
}

.wcWidth300 .wcMessage .wcMessageUser,
.wcWidth300 .wcMessage .wcMessageTime,
.wcWidth300 .wcMessage .wcMessageTimeHour,
.wcWidth300 .wcMessage .wcMessageTimeDate,
.wcWidth300 .wcControls .wcMessageUser,
.wcWidth300 .wcControls .wcCurrentUserName {
	font-size: 0.9em;
}

.wcWidth300 .wcControls {
	position: relative;
	padding-top: 33px;
}

.wcWidth300 .wcControls .wcCurrentUserName {
	margin-bottom: 5px;
}

.wcWidth300 .wcControls .wcToolButtonWrapper {
	position: absolute;
	top: 5px;
	right: 5px;
}
.wcWidth300 .wcControls .wcToolButtonWrapper .wcToolButton {
	width: 24px;
	height: 24px;
	background-size: 90%;
	background-color: transparent !important;
	margin-left: 10px;
	border-radius: 0;
}

.wcMessages.wcMessagesInline .wcMessage .wcMessageUser,
.wcMessages.wcMessagesInline .wcMessage .wcMessageContent,
.wcMessages.wcMessagesInline .wcMessage .wcMessageTime {
	display: inline-block;
	float: none;
	vertical-align: middle;
}

.wcContainer .wcMessages.wcMessagesInline .wcMessage .wcMessageUser {
	margin-right: 4px; margin-bottom: 0; float: none;
}
.wcMessages.wcMessagesInline .wcMessage .wcMessageContent {
	padding: 5px; margin-bottom: 0;
}
.wcMessages.wcMessagesInline .wcMessage .wcActionWrapper {
	display: inline-block;
	float: none;
	vertical-align: middle;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	select,
	textarea,
	input {
		font-size: 16px;
	}
}

pre > .wcContainer,
pre > .wcContainer *,
code > .wcContainer,
code > .wcContainer * { 
  white-space: normal !important;
}
