@import "./common/globals";
@import "./common/emoticons/emoticons";
@import "./common/browser";
@import "./common/channel/channel";
@import "./common/customize";
@import "./common/image-viewer";
@import "./common/popups";
@import "./common/toasts";
@import "./common/recent";
@import "./common/auth";
@import "./common/anims";
@import "./themes/default";
@import "./themes/lightgray";
@import "./themes/colddark";
@import "./themes/airflow";

/* maven-pro-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/maven-pro-v32-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/maven-pro-v32-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/maven-pro-v32-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/maven-pro-v32-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/maven-pro-v32-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/maven-pro-v32-latin_latin-ext-regular.svg#MavenPro') format('svg'); /* Legacy iOS */
}
/* maven-pro-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/maven-pro-v32-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/maven-pro-v32-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/maven-pro-v32-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/maven-pro-v32-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/maven-pro-v32-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/maven-pro-v32-latin_latin-ext-700.svg#MavenPro') format('svg'); /* Legacy iOS */
}

/* rajdhani-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rajdhani-v15-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rajdhani-v15-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rajdhani-v15-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rajdhani-v15-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rajdhani-v15-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rajdhani-v15-latin_latin-ext-regular.svg#Rajdhani') format('svg'); /* Legacy iOS */
}
/* rajdhani-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rajdhani-v15-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/rajdhani-v15-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rajdhani-v15-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rajdhani-v15-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rajdhani-v15-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rajdhani-v15-latin_latin-ext-700.svg#Rajdhani') format('svg'); /* Legacy iOS */
}

.wcContainer {
  position: relative;
  display: flex;
  flex-direction: column;

  @include globals;
  @include emoticons;
  @include channel;

  .wcBrowser {
    @include browser;
  }

  .wcLoadingContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .wcLoading {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
    }
  }

  @include customize;
  @include toasts;
  @include recent;
  @include auth;
  @include animations;

  // themes:
  &.wcTheme {
    @include default;
  }
  &.wcLightgrayTheme {
    @include lightgray;
  }
  &.wcColddarkTheme {
    @include colddark;
  }
  &.wcAirflowTheme {
    @include airflow;
  }
}

@include image-viewer;
@include popups;

// themes:
@include lightgray-global;
@include colddark-global;
@include airflow-global;

.wcScrollOff {
  overflow: hidden;
}