@mixin animations {

  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;

  .wcAnimation {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0.25;
    }
  }
  @keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0.25;
    }
  }

  .wcAnimationFlash {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: flash;
    animation-name: flash;

  }

  @-webkit-keyframes shakeY {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }

    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  }
  @keyframes shakeY {
    from,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }

    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  }
  .animate__shakeY {
    -webkit-animation-name: shakeY;
    animation-name: shakeY;
  }

}