@mixin image-viewer {
  .wcImagePreviewLayer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 999999;
    background: rgba(0,0,0,0.5);
    padding: 5%;

    &.wcShow {
      display: flex;
    }
    &.wcHide {
      display: none;
    }
    img {
      max-height: 100%;
      border-radius: 0;
      border: none;
      box-shadow: none;
    }
  }
}