/* airflow */
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700&subset=latin-ext');
.wcContainer * {
	font: 13px/22px 'Maven Pro', sans-serif; color: #151618;
}

.wcContainer {
	font: 13px/22px 'Maven Pro', sans-serif; 
	border: 0; padding-top: 0; color: #151618;
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; 
	overflow: hidden;
}

.wcContainer .wcPoweredBy {
	padding-right: 10px; padding-bottom: 3px;
}

.wcContainer .wcControls .wcPoweredBy {
	padding: 0;
}

.wcContainer .wcWindowTitle {
	padding: 10px 13px; font-size: 150%; color: #151618; border-radius: 10px 10px 0 0;

	background: #e4e4e4 !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #e4e4e4 0%, #d9d9d9 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e4e4e4 0%,#d9d9d9 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e4e4e4 0%,#d9d9d9 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#d9d9d9',GradientType=0 ) !important; /* IE6-9 */
}

.wcContainer a {
	color: #00d5ff;
}

.wcContainer input[type="button"], .wcContainer input[type="button"]:focus, .wcContainer input[type="button"]:active,
.wcContainer input[type="submit"], .wcContainer input[type="submit"]:focus, .wcContainer input[type="submit"]:active{
	border-radius: 15px !important; background-image: none; background-repeat: no-repeat; border: 0!important;
	color: #FFF !important; padding: 5px 20px !important; box-shadow: none; font-weight: normal !important; line-height: 20px !important;
	height: 40px; outline: none; min-height: 40px !important;

	background: #00d5ff !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #00d5ff 0%, #00bdde 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #00d5ff 0%,#00bdde 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #00d5ff 0%,#00bdde 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d5ff', endColorstr='#00bdde',GradientType=0 ) !important; /* IE6-9 */

	text-transform: none !important;

	-webkit-transition: all 250ms cubic-bezier(0.62, 0.155, 0.47, 0.86);
	-o-transition: all 250ms cubic-bezier(0.62, 0.155, 0.47, 0.86);
	transition: all 250ms cubic-bezier(0.62, 0.155, 0.47, 0.86);
}

.wcContainer input[type="button"]:hover, .wcContainer input[type="submit"]:hover {
	background: #45e3ff !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #45e3ff 0%, #19ddff 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #45e3ff 0%,#19ddff 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #45e3ff 0%,#19ddff 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45e3ff', endColorstr='#19ddff',GradientType=0 ) !important; /* IE6-9 */
	box-shadow: none !important; font-weight: normal !important; 
}

	

.wcContainer input[type="text"], .wcContainer input[type="password"], .wcContainer textarea {
	height: 40px; font-size: 1em; line-height: 40px; box-shadow: none;
	background-color: #ffffff; border-radius: 15px; margin: 0; outline: 0 none; padding: 4px;
	padding-left: 15px; border: 1px solid transparent;
}

.wcContainer input[type="text"]:focus, .wcContainer input[type="password"]:focus, .wcContainer textarea:focus {
	background-color: #ffffff; padding-left: 15px; border: 1px solid transparent;
}

.wcContainer ::-webkit-input-placeholder {
	color: #66696e;
}
.wcContainer ::-moz-placeholder {
	color: #66696e;
}
.wcContainer :-ms-input-placeholder {
	color: #66696e;
}
.wcContainer :-moz-placeholder {
	color: #66696e;
}
.wcContainer input[type="button"].wcSubmitButton {
	border-radius: 0 15px 15px 0 !important;
}
.wcContainer input[type="text"].wcInput {
	border-radius: 15px 0 0 15px; 
}
.wcContainer textarea {
	height: 50px;
}

.wcContainer .wcMessages {
	color: #111; border: none; padding: 20px 2%; background: #f9fafb;
}

.wcContainer .wcUsersCounter {
	font-size: 80%; border: 0; border-top: 1px solid #e9eef0; background: #f9fafb;
}

.wcContainer .wcMessage .wcAdminAction {
	border-color: #b8bcc4;
}
.wcContainer .wcMessage .wcAdminAction:hover {
	background-color: #e3e3e3;
}

.wcMessageAttachments a.wcAttachmentClear {
	border-color: #b8bcc4;
}

.wcMessageAttachments a.wcAttachmentClear:hover {
	background-color: #e3e3e3;
}

.wcMessage .wcAdminAction.wcMessageDeleteButton {
	background-image: url("gfx/x.svg");
}

.wcMessage .wcAdminAction.wcUserBanButton {
	background-image: url("gfx/block.svg"); 
}

.wcMessage .wcAdminAction.wcUserKickButton {
	background-image: url("gfx/kick.svg"); 
}

.wcMessage .wcAdminAction.wcSpamReportButton {
	background-image: url("gfx/spam.svg");
}

.wcContainer .wcControls {
    background: #e4e4e4 !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #e4e4e4 0%, #d9d9d9 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e4e4e4 0%,#d9d9d9 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e4e4e4 0%,#d9d9d9 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#d9d9d9',GradientType=0 ) !important; /* IE6-9 */
    border: 0 !important;
}


.wcContainer .wcMessages .wcPlainMessage {
	color: #00d5ff;
}

.wcContainer .wcMessages .wcMessage a {
	color: #00d5ff; text-decoration: none;
}

.wcContainer .wcMessages .wcMessage a:hover {
	text-decoration: underline;
}

.wcContainer .wcMessages .wcMessage .wcMessageUser a:hover {
	text-decoration: underline;
}
.wcMessage .wcMessageUser {
	line-height: 22px;
	margin-bottom: 3px;
}
.wcContainer .wcMessages .wcMessage .wcMessageTime {
	color: #66696e; line-height: 22px;
}

.wcContainer .wcMessages .wcMessage .wcMessageTime * {
	color: #66696e; line-height: 22px;
}

.wcContainer .wcMessages .wcMessage .wcMessageUser {
	float: left; color: #151618; 
}

.wcContainer .wcMessages .wcMessage .wcMessageUser a {
	color: #151618; text-decoration: none; 
}

.wcContainer .wcMessages .wcMessage .wcMessageContent {
	background-color: #FFF; border-radius: 0 10px 10px 10px; box-shadow: 2px 2px 2px rgba(60,60,60,0.03); 
}
.wcContainer .wcMessages .wcMessage.wcCurrentUserMessage .wcMessageContent {
	background-color: #ececec; box-shadow: 2px 2px 2px rgba(60,60,60,0.13); 
}

.wcContainer .wcMessages .wcMessage .wcMessageContent .wcAdminAction {
	float: right;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	outline: none;
	-webkit-transition: all 250ms cubic-bezier(0.62, 0.155, 0.47, 0.86);
	-o-transition: all 250ms cubic-bezier(0.62, 0.155, 0.47, 0.86);
	transition: all 250ms cubic-bezier(0.62, 0.155, 0.47, 0.86);
}

.wcContainer .wcMessages .wcMessage .wcMessageContent .wcAdminAction:hover {
	border: none;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.wcContainer .wcMessages.wcMessagesInline .wcMessage .wcMessageContent {
	display: inline;
}

.wcContainer .wcMessages.wcMessagesInline .wcMessage .wcClear {
	display: none;
}

.wcContainer .wcMessages.wcMessagesInline .wcMessage .wcAdminAction {
	padding: 0px; padding-right: 1px; padding-left: 1px;
}

.wcContainer .wcInputContainer {
	margin-bottom: 5px;
}

.wcContainer .wcCustomizationsPanel {
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; 
	background-image: none; background-repeat: no-repeat; border: none;
	padding: 4px;
}

.wcContainer .wcCustomizationsPanel .wcCustomizationsProperty:not(:last-child) {
	padding-bottom: 4px;
}

.wcContainer .wcControls .wcCurrentUserName {
	margin-bottom: 5px; padding-right: 5px; line-height: 20px;
}
.wcWidth300 .wcControls .wcCurrentUserName {
	float: none; line-height: 20px;
}
.wcWidth300 .wcMessageContent {
	display: block; border-bottom: none; margin-bottom: inherit; padding-bottom: inherit;
}

.wcContainer .wcCustomizations a, .wcContainer .wcCustomizations a:hover {
	display: inline-block; margin: 4px 0; color: #151618; outline: none;
}


.wcContainer a.wcToolButton {
	border-radius: 0; border: none; box-shadow: none; height: 40px; background: #FFF; display: inline-block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	outline: none;

	-webkit-transition: all 250ms cubic-bezier(0.62, 0.155, 0.47, 0.86);
	-o-transition: all 250ms cubic-bezier(0.62, 0.155, 0.47, 0.86);
	transition: all 250ms cubic-bezier(0.62, 0.155, 0.47, 0.86);
}

.wcContainer a.wcToolButton:hover, .wcContainer a.wcToolButton:active, .wcContainer a.wcToolButton:focus {
	background-color: #eeeeee;
	box-shadow: 0 0 2px rgba(60,60,60,0.13) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	border: none;
	
}



.wcContainer a.wcAddImageAttachment {
	background: #FFF url('gfx/camera.svg') center center no-repeat;
}

.wcContainer a.wcAddFileAttachment {
	background: #FFF url('gfx/attach.svg') center center no-repeat;
}

.wcContainer a.wcInsertEmoticonButton {
	background: #FFF url('gfx/emoticon.svg') center center no-repeat;
}

/* Users list: */
.wcContainer .wcUsersList {
	border: 0; background-color: #f9fafb; color: #151618; 
}
.wcUsersList .wcUserInChannel {
	border-color: #e9eef0;
}
.wcContainer .wcWindowContent {
	text-align: center; background: #f9fafb; border-radius: 0 0 10px 10px;
}

.wcContainer .wcError {
	padding: 10px; color: #26323e; background-color: #ffe9e9; border-radius: 5px; 
	display: inline-block; margin-top: 5px;
}

div.colorPicker-palette {
	border: 1px solid #e1e8ed !important; border-radius: 5px !important;
}

.wcEmoticonsLayer {
	border: 1px solid #e1e8ed; border-radius: 5px; background-color: #f8f9fd;
}

.wcEmoticonsLayer a, .wcEmoticonsLayer a:hover {
	border: none;
}

.wcUserNameHint {
	margin-bottom: 4px;
}

.wcContainer input[name='wcUserName'] {
	margin-bottom: 5px !important;
}

/* Channel users widget */
.wcContainer.wcChannelUsersWidget .wcUsersList {
	padding: 3px 5px;00d5ff
}
.wcContainer .wcWindowContent {
    border: 0;
}

/* Progress bar - background */
.wcContainer progress, .wcContainer progress[role][aria-valuenow] {
	background: #b8bcc4 !important;
 }
 
 .wcContainer progress::-webkit-progress-bar {
	 background: #b8bcc4; 
 }
 /* Progress bar - foreground */
.wcContainer progress {
    color: #00d5ff; 
}

.wcContainer progress::-moz-progress-bar { 
    background: #00d5ff; 
}

.wcContainer progress::-webkit-progress-value {
    background: #00d5ff;
}

.wcContainer progress[aria-valuenow]:before  {
    background: #00d5ff; 
}



div.colorPicker-picker,
div.colorPicker-swatch {
	border-color: #b8bcc4 !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.wcContainer select,
	.wcContainer textarea,
	.wcContainer input {
		font-size: 16px;
	}
}
.wcControls textarea.wcInput {
	border-top-right-radius: 0;
}