/* lightgray */

.wcContainer * {
	font: 12px/16px "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif; color: #111;
}

.wcContainer {
	font: 12px/16px "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	background-color: #ecedef; border: 1px solid #e1e8ed; padding-top: 0px;
	color: #111;
}

.wcContainer .wcPoweredBy {
	padding-right: 10px; padding-bottom: 3px;
}

.wcContainer .wcControls .wcPoweredBy {
	padding: 0px;
}

.wcContainer .wcWindowTitle {
	margin: 10px 5px; font-size: 110%; color: #111;
}

.wcContainer a {
	color: #5974a9;
}

.wcContainer input[type="button"], .wcContainer input[type="button"]:focus, .wcContainer input[type="button"]:active,
.wcContainer input[type="submit"], .wcContainer input[type="submit"]:focus, .wcContainer input[type="submit"]:active{
	border-radius: 5px; background-image: none; background-repeat: none; border: 1px solid #bcbfc4;
	color: #919297; font-size: 13px; padding: 5px 13px; box-shadow: none; font-weight: bold;
	height: 31px;
	background: #ecedef; /* Old browsers */
	background: -moz-linear-gradient(top,  #ecedef 0%, #cbcfd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecedef), color-stop(100%,#cbcfd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ecedef 0%,#cbcfd8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecedef', endColorstr='#cbcfd8',GradientType=0 ); /* IE6-9 */
	text-transform: none;
}

.wcContainer input[type="button"]:hover, .wcContainer input[type="submit"]:hover {
	background: #ecedef; color: #717277;
}

.wcContainer input[type="text"], .wcContainer input[type="password"], .wcContainer textarea {
	height: 31px; font-size: 1em; line-height: 20px;
	background-color: #fff;  border: 1px solid #b9b9bb; border-top-color: #adafae; border-radius: 3px; margin: 0; outline: 0 none; padding: 4px;
}

.wcContainer textarea {
	height: 50px;
}

.wcContainer .wcMessages {
	background-color: #fff; color: #111; border-left: none; border-right: none; border-top: 1px solid #e1e8ed; border-bottom: 1px solid #e1e8ed;
	padding: 0px;
}

.wcContainer .wcUsersCounter {
	margin-bottom: 3px; margin-right: 10px; font-size: 80%;
}

.wcContainer .wcMessage .wcAdminAction:hover {
	border: 1px solid #e1e8ed;
}

.wcContainer .wcControls {
	padding: 10px; padding-top: 5px;
	background: #ecedef; /* Old browsers */
	background: -moz-linear-gradient(top,  #ecedef 0%, #cbcfd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecedef), color-stop(100%,#cbcfd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ecedef 0%,#cbcfd8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecedef', endColorstr='#cbcfd8',GradientType=0 ); /* IE6-9 */
}

.wcContainer .wcMessages .wcMessage {
	border-top: 1px solid #eeeeee; padding: 5px;
}

.wcContainer .wcMessages .wcPlainMessage {
	color: #5974a9;
}

.wcContainer .wcMessages .wcMessage a {
	color: #5974a9; text-decoration: none;
}

.wcContainer .wcMessages .wcMessage a:hover {
	text-decoration: underline;
}

.wcContainer .wcMessages .wcMessage .wcMessageUser a:hover {
	text-decoration: underline;
}

.wcContainer .wcMessages .wcMessage .wcMessageTime {
	float: right; color: #8f8f8f; font-size: 90%;
}

.wcContainer .wcMessages .wcMessage .wcMessageUser {
	float: left; color: #111; font-weight: bold;
}

.wcContainer .wcMessages .wcMessage .wcMessageUser a {
	color: #111; text-decoration: none; font-weight: bold;
}

.wcContainer .wcMessages .wcMessage .wcMessageContent {
	display: block; margin-top: 6px;
}

.wcContainer .wcMessages .wcMessage .wcMessageContent .wcAdminAction {
	float: right; 
}

.wcContainer .wcCustomizationsPanel {
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; 
	background-color: #fff; background-image: none; background-repeat: none; border: none;
	padding: 4px;
}

.wcContainer .wcCustomizationsPanel .wcCustomizationsProperty:not(:last-child) {
	border-bottom: 1px solid #e1e8ed; padding-bottom: 4px;
}

.wcContainer .wcControls .wcCurrentUserName {
	margin-bottom: 5px;
}

.wcWidth300 .wcMessageContent {
	display: block; border-bottom: none; margin-bottom: inherit; padding-bottom: inherit;
}

.wcContainer .wcCustomizations a, .wcContainer .wcCustomizations a:hover {
	font-size: 90%; display: inline-block; margin: 4px 0px; color: #5974a9;
}

.wcMessageAttachments a.wcAttachmentClear:hover  {
	border: 1px solid #e1e8ed;
}

.wcControlsButtonsIncluded a.wcToolButton:hover {
	border: 1px solid #bcbfc4;
}

.wcContainer a.wcToolButton {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecedef', endColorstr='#cbcfd8',GradientType=0 ); /* IE6-9 */
	border-radius: 5px; border: 1px solid #bcbfc4; box-shadow: none; height: 31px;
}

.wcContainer a.wcAddImageAttachment {
	background: url('gfx/camera.png') center center no-repeat, #ecedef; /* Old browsers */
	background: url('gfx/camera.png') center center no-repeat, -moz-linear-gradient(top,  #ecedef 0%, #cbcfd8 100%); /* FF3.6+ */
	background: url('gfx/camera.png') center center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecedef), color-stop(100%,#cbcfd8)); /* Chrome,Safari4+ */
	background: url('gfx/camera.png') center center no-repeat, -webkit-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* Chrome10+,Safari5.1+ */
	background: url('gfx/camera.png') center center no-repeat, -o-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* Opera 11.10+ */
	background: url('gfx/camera.png') center center no-repeat, -ms-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* IE10+ */
	background: url('gfx/camera.png') center center no-repeat, linear-gradient(to bottom,  #ecedef 0%,#cbcfd8 100%); /* W3C */
}

.wcContainer a.wcAddImageAttachment:hover {
	background: url('gfx/camera.png') center center no-repeat, #ecedef;
}

.wcContainer a.wcAddFileAttachment {
	background: url('gfx/attach.png') center center no-repeat, #ecedef; /* Old browsers */
	background: url('gfx/attach.png') center center no-repeat, -moz-linear-gradient(top,  #ecedef 0%, #cbcfd8 100%); /* FF3.6+ */
	background: url('gfx/attach.png') center center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecedef), color-stop(100%,#cbcfd8)); /* Chrome,Safari4+ */
	background: url('gfx/attach.png') center center no-repeat, -webkit-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* Chrome10+,Safari5.1+ */
	background: url('gfx/attach.png') center center no-repeat, -o-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* Opera 11.10+ */
	background: url('gfx/attach.png') center center no-repeat, -ms-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* IE10+ */
	background: url('gfx/attach.png') center center no-repeat, linear-gradient(to bottom,  #ecedef 0%,#cbcfd8 100%); /* W3C */
}

.wcContainer a.wcAddFileAttachment:hover {
	background: url('gfx/attach.png') center center no-repeat, #ecedef;
}

.wcContainer a.wcInsertEmoticonButton {
	background: url('gfx/emoticon.png') center center no-repeat, #ecedef; /* Old browsers */
	background: url('gfx/emoticon.png') center center no-repeat, -moz-linear-gradient(top,  #ecedef 0%, #cbcfd8 100%); /* FF3.6+ */
	background: url('gfx/emoticon.png') center center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecedef), color-stop(100%,#cbcfd8)); /* Chrome,Safari4+ */
	background: url('gfx/emoticon.png') center center no-repeat, -webkit-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* Chrome10+,Safari5.1+ */
	background: url('gfx/emoticon.png') center center no-repeat, -o-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* Opera 11.10+ */
	background: url('gfx/emoticon.png') center center no-repeat, -ms-linear-gradient(top,  #ecedef 0%,#cbcfd8 100%); /* IE10+ */
	background: url('gfx/emoticon.png') center center no-repeat, linear-gradient(to bottom,  #ecedef 0%,#cbcfd8 100%); /* W3C */
}

.wcContainer a.wcInsertEmoticonButton:hover {
	background: url('gfx/emoticon.png') center center no-repeat, #ecedef;
}

/* Users list: */
.wcContainer .wcUsersList {
	border-right: none; background-color: #fff; color: #111;
	border-top: 1px solid #e1e8ed; border-bottom: 1px solid #e1e8ed;
}

.wcContainer .wcWindowContent {
	text-align: center;
	padding-top: 0px;
}

.wcContainer .wcError {
	padding: 10px; color: #ffffff; background-color: rgb(247,66,67); border-radius: 5px; border: 1px solid rgb(207,46,47);
	display: inline-block; margin-top: 5px;
}

div.colorPicker-palette {
	border: 1px solid #b9b9bb !important; border-radius: 5px !important;
}

.wcEmoticonsLayer {
	border: 1px solid #b9b9bb; border-radius: 5px;
}

.wcUserNameHint {
	margin-bottom: 4px;
}