@mixin desktop {

  .wcColumn {
    &.wcBrowserColumn {
      width: 300px;
    }

    .wcContent {
      &.wcBrowserContent {
        flex-grow: 1;

        .wcCustomizations {
          padding: 0 15px 0 10px;
        }
      }
      &.wcChannelContent {
        flex-grow: 1;
        max-height: 500px;
        width: 400px;
      }
      &.wcAuthContent {
        width: 400px;
      }
    }
  }
}