@import "./set01";
@import "./set02";
@import "./set03";
@import "./set04";

@mixin emoticons {
  img.wcEmoticon, span.wcEmoticon {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    margin-left: 2px;

    @include set01;
    @include set02;
    @include set03;
    @include set04;
  }
}