@mixin set03 {

  &.bg-emot_03_32_001 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -10px -10px;
  }

  &.bg-emot_03_32_002 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -62px -10px;
  }

  &.bg-emot_03_32_003 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -10px -62px;
  }

  &.bg-emot_03_32_004 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -62px -62px;
  }

  &.bg-emot_03_32_005 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -114px -10px;
  }

  &.bg-emot_03_32_006 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -114px -62px;
  }

  &.bg-emot_03_32_007 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -10px -114px;
  }

  &.bg-emot_03_32_008 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -62px -114px;
  }

  &.bg-emot_03_32_009 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -114px -114px;
  }

  &.bg-emot_03_32_010 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -166px -10px;
  }

  &.bg-emot_03_32_011 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -166px -62px;
  }

  &.bg-emot_03_32_012 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -166px -114px;
  }

  &.bg-emot_03_32_013 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -10px -166px;
  }

  &.bg-emot_03_32_014 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -62px -166px;
  }

  &.bg-emot_03_32_015 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -114px -166px;
  }

  &.bg-emot_03_32_016 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -166px -166px;
  }

  &.bg-emot_03_32_017 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -218px -10px;
  }

  &.bg-emot_03_32_018 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -218px -62px;
  }

  &.bg-emot_03_32_019 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -218px -114px;
  }

  &.bg-emot_03_32_020 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -218px -166px;
  }

  &.bg-emot_03_32_021 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -10px -218px;
  }

  &.bg-emot_03_32_022 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -62px -218px;
  }

  &.bg-emot_03_32_023 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -114px -218px;
  }

  &.bg-emot_03_32_024 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -166px -218px;
  }

  &.bg-emot_03_32_025 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -218px -218px;
  }

  &.bg-emot_03_32_026 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -270px -10px;
  }

  &.bg-emot_03_32_027 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -270px -62px;
  }

  &.bg-emot_03_32_028 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -270px -114px;
  }

  &.bg-emot_03_32_029 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -270px -166px;
  }

  &.bg-emot_03_32_030 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -270px -218px;
  }

  &.bg-emot_03_32_031 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -10px -270px;
  }

  &.bg-emot_03_32_032 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -62px -270px;
  }

  &.bg-emot_03_32_033 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -114px -270px;
  }

  &.bg-emot_03_32_034 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -166px -270px;
  }

  &.bg-emot_03_32_035 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -218px -270px;
  }

  &.bg-emot_03_32_036 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -270px -270px;
  }

  &.bg-emot_03_32_037 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -322px -10px;
  }

  &.bg-emot_03_32_038 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -322px -62px;
  }

  &.bg-emot_03_32_039 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -322px -114px;
  }

  &.bg-emot_03_32_040 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -322px -166px;
  }

  &.bg-emot_03_32_041 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -322px -218px;
  }

  &.bg-emot_03_32_042 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -322px -270px;
  }

  &.bg-emot_03_32_043 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -10px -322px;
  }

  &.bg-emot_03_32_044 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -62px -322px;
  }

  &.bg-emot_03_32_045 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -114px -322px;
  }

  &.bg-emot_03_32_046 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -166px -322px;
  }

  &.bg-emot_03_32_047 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -218px -322px;
  }

  &.bg-emot_03_32_048 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_03_32.png') -270px -322px;
  }

    &.bg-emot_03_64_001 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -10px -10px;
  }

  &.bg-emot_03_64_002 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -94px -10px;
  }

  &.bg-emot_03_64_003 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -10px -94px;
  }

  &.bg-emot_03_64_004 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -94px -94px;
  }

  &.bg-emot_03_64_005 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -178px -10px;
  }

  &.bg-emot_03_64_006 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -178px -94px;
  }

  &.bg-emot_03_64_007 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -10px -178px;
  }

  &.bg-emot_03_64_008 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -94px -178px;
  }

  &.bg-emot_03_64_009 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -178px -178px;
  }

  &.bg-emot_03_64_010 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -262px -10px;
  }

  &.bg-emot_03_64_011 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -262px -94px;
  }

  &.bg-emot_03_64_012 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -262px -178px;
  }

  &.bg-emot_03_64_013 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -10px -262px;
  }

  &.bg-emot_03_64_014 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -94px -262px;
  }

  &.bg-emot_03_64_015 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -178px -262px;
  }

  &.bg-emot_03_64_016 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -262px -262px;
  }

  &.bg-emot_03_64_017 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -346px -10px;
  }

  &.bg-emot_03_64_018 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -346px -94px;
  }

  &.bg-emot_03_64_019 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -346px -178px;
  }

  &.bg-emot_03_64_020 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -346px -262px;
  }

  &.bg-emot_03_64_021 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -10px -346px;
  }

  &.bg-emot_03_64_022 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -94px -346px;
  }

  &.bg-emot_03_64_023 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -178px -346px;
  }

  &.bg-emot_03_64_024 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -262px -346px;
  }

  &.bg-emot_03_64_025 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -346px -346px;
  }

  &.bg-emot_03_64_026 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -430px -10px;
  }

  &.bg-emot_03_64_027 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -430px -94px;
  }

  &.bg-emot_03_64_028 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -430px -178px;
  }

  &.bg-emot_03_64_029 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -430px -262px;
  }

  &.bg-emot_03_64_030 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -430px -346px;
  }

  &.bg-emot_03_64_031 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -10px -430px;
  }

  &.bg-emot_03_64_032 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -94px -430px;
  }

  &.bg-emot_03_64_033 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -178px -430px;
  }

  &.bg-emot_03_64_034 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -262px -430px;
  }

  &.bg-emot_03_64_035 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -346px -430px;
  }

  &.bg-emot_03_64_036 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -430px -430px;
  }

  &.bg-emot_03_64_037 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -514px -10px;
  }

  &.bg-emot_03_64_038 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -514px -94px;
  }

  &.bg-emot_03_64_039 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -514px -178px;
  }

  &.bg-emot_03_64_040 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -514px -262px;
  }

  &.bg-emot_03_64_041 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -514px -346px;
  }

  &.bg-emot_03_64_042 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -514px -430px;
  }

  &.bg-emot_03_64_043 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -10px -514px;
  }

  &.bg-emot_03_64_044 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -94px -514px;
  }

  &.bg-emot_03_64_045 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -178px -514px;
  }

  &.bg-emot_03_64_046 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -262px -514px;
  }

  &.bg-emot_03_64_047 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -346px -514px;
  }

  &.bg-emot_03_64_048 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_03_64.png') -430px -514px;
  }

    &.bg-emot_03_128_001 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -10px -10px;
  }

  &.bg-emot_03_128_002 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -158px -10px;
  }

  &.bg-emot_03_128_003 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -10px -158px;
  }

  &.bg-emot_03_128_004 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -158px -158px;
  }

  &.bg-emot_03_128_005 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -306px -10px;
  }

  &.bg-emot_03_128_006 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -306px -158px;
  }

  &.bg-emot_03_128_007 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -10px -306px;
  }

  &.bg-emot_03_128_008 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -158px -306px;
  }

  &.bg-emot_03_128_009 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -306px -306px;
  }

  &.bg-emot_03_128_010 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -454px -10px;
  }

  &.bg-emot_03_128_011 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -454px -158px;
  }

  &.bg-emot_03_128_012 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -454px -306px;
  }

  &.bg-emot_03_128_013 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -10px -454px;
  }

  &.bg-emot_03_128_014 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -158px -454px;
  }

  &.bg-emot_03_128_015 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -306px -454px;
  }

  &.bg-emot_03_128_016 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -454px -454px;
  }

  &.bg-emot_03_128_017 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -602px -10px;
  }

  &.bg-emot_03_128_018 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -602px -158px;
  }

  &.bg-emot_03_128_019 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -602px -306px;
  }

  &.bg-emot_03_128_020 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -602px -454px;
  }

  &.bg-emot_03_128_021 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -10px -602px;
  }

  &.bg-emot_03_128_022 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -158px -602px;
  }

  &.bg-emot_03_128_023 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -306px -602px;
  }

  &.bg-emot_03_128_024 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -454px -602px;
  }

  &.bg-emot_03_128_025 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -602px -602px;
  }

  &.bg-emot_03_128_026 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -750px -10px;
  }

  &.bg-emot_03_128_027 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -750px -158px;
  }

  &.bg-emot_03_128_028 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -750px -306px;
  }

  &.bg-emot_03_128_029 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -750px -454px;
  }

  &.bg-emot_03_128_030 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -750px -602px;
  }

  &.bg-emot_03_128_031 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -10px -750px;
  }

  &.bg-emot_03_128_032 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -158px -750px;
  }

  &.bg-emot_03_128_033 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -306px -750px;
  }

  &.bg-emot_03_128_034 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -454px -750px;
  }

  &.bg-emot_03_128_035 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -602px -750px;
  }

  &.bg-emot_03_128_036 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -750px -750px;
  }

  &.bg-emot_03_128_037 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -898px -10px;
  }

  &.bg-emot_03_128_038 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -898px -158px;
  }

  &.bg-emot_03_128_039 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -898px -306px;
  }

  &.bg-emot_03_128_040 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -898px -454px;
  }

  &.bg-emot_03_128_041 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -898px -602px;
  }

  &.bg-emot_03_128_042 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -898px -750px;
  }

  &.bg-emot_03_128_043 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -10px -898px;
  }

  &.bg-emot_03_128_044 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -158px -898px;
  }

  &.bg-emot_03_128_045 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -306px -898px;
  }

  &.bg-emot_03_128_046 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -454px -898px;
  }

  &.bg-emot_03_128_047 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -602px -898px;
  }

  &.bg-emot_03_128_048 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_03_128.png') -750px -898px;
  }

}