@mixin set01 {
  &.bg-emot_01_32_001 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -10px -131px;
  }


  &.bg-emot_01_32_002 {
      width: 32px; height: 35px;
      background: url('../../gfx/emoticons/emots_01_32.png') -120px -68px;
  }


  &.bg-emot_01_32_003 {
      width: 32px; height: 38px;
      background: url('../../gfx/emoticons/emots_01_32.png') -68px -10px;
  }


  &.bg-emot_01_32_004 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -62px -131px;
  }


  &.bg-emot_01_32_005 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -114px -131px;
  }


  &.bg-emot_01_32_006 {
      width: 32px; height: 35px;
      background: url('../../gfx/emoticons/emots_01_32.png') -172px -10px;
  }


  &.bg-emot_01_32_007 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -166px -131px;
  }


  &.bg-emot_01_32_008 {
      width: 34px; height: 30px;
      background: url('../../gfx/emoticons/emots_01_32.png') -328px -10px;
  }


  &.bg-emot_01_32_009 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -224px -10px;
  }


  &.bg-emot_01_32_010 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -224px -62px;
  }


  &.bg-emot_01_32_011 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -224px -114px;
  }


  &.bg-emot_01_32_012 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -10px -183px;
  }


  &.bg-emot_01_32_013 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -62px -183px;
  }


  &.bg-emot_01_32_014 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -114px -183px;
  }


  &.bg-emot_01_32_015 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -166px -183px;
  }


  &.bg-emot_01_32_016 {
      width: 32px; height: 38px;
      background: url('../../gfx/emoticons/emots_01_32.png') -68px -68px;
  }


  &.bg-emot_01_32_017 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -218px -183px;
  }


  &.bg-emot_01_32_018 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -276px -10px;
  }


  &.bg-emot_01_32_019 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -276px -62px;
  }


  &.bg-emot_01_32_020 {
      width: 38px; height: 40px;
      background: url('../../gfx/emoticons/emots_01_32.png') -10px -10px;
  }


  &.bg-emot_01_32_021 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -276px -114px;
  }


  &.bg-emot_01_32_022 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -276px -166px;
  }


  &.bg-emot_01_32_023 {
      width: 32px; height: 38px;
      background: url('../../gfx/emoticons/emots_01_32.png') -120px -10px;
  }


  &.bg-emot_01_32_024 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -10px -235px;
  }


  &.bg-emot_01_32_025 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -62px -235px;
  }


  &.bg-emot_01_32_026 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -114px -235px;
  }


  &.bg-emot_01_32_027 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -166px -235px;
  }


  &.bg-emot_01_32_028 {
      width: 32px; height: 34px;
      background: url('../../gfx/emoticons/emots_01_32.png') -172px -65px;
  }


  &.bg-emot_01_32_029 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -218px -235px;
  }


  &.bg-emot_01_32_030 {
      width: 32px; height: 32px;
      background: url('../../gfx/emoticons/emots_01_32.png') -270px -235px;
  }


  &.bg-emot_01_32_031 {
      width: 33px; height: 41px;
      background: url('../../gfx/emoticons/emots_01_32.png') -10px -70px;
  }

  &.bg-emot_01_64_001 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -358px -10px;
  }


  &.bg-emot_01_64_002 {
      width: 64px; height: 69px;
      background: url('../../gfx/emoticons/emots_01_64.png') -274px -10px;
  }


  &.bg-emot_01_64_003 {
      width: 64px; height: 75px;
      background: url('../../gfx/emoticons/emots_01_64.png') -106px -107px;
  }


  &.bg-emot_01_64_004 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -358px -94px;
  }


  &.bg-emot_01_64_005 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -358px -178px;
  }


  &.bg-emot_01_64_006 {
      width: 64px; height: 70px;
      background: url('../../gfx/emoticons/emots_01_64.png') -190px -105px;
  }


  &.bg-emot_01_64_007 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -10px -295px;
  }


  &.bg-emot_01_64_008 {
      width: 70px; height: 63px;
      background: url('../../gfx/emoticons/emots_01_64.png') -10px -212px;
  }


  &.bg-emot_01_64_009 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -94px -295px;
  }


  &.bg-emot_01_64_010 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -178px -295px;
  }


  &.bg-emot_01_64_011 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -262px -295px;
  }


  &.bg-emot_01_64_012 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -346px -295px;
  }


  &.bg-emot_01_64_013 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -442px -10px;
  }


  &.bg-emot_01_64_014 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -442px -94px;
  }


  &.bg-emot_01_64_015 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -442px -178px;
  }


  &.bg-emot_01_64_016 {
      width: 64px; height: 77px;
      background: url('../../gfx/emoticons/emots_01_64.png') -106px -10px;
  }


  &.bg-emot_01_64_017 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -442px -262px;
  }


  &.bg-emot_01_64_018 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -10px -379px;
  }


  &.bg-emot_01_64_019 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -94px -379px;
  }


  &.bg-emot_01_64_020 {
      width: 76px; height: 79px;
      background: url('../../gfx/emoticons/emots_01_64.png') -10px -10px;
  }


  &.bg-emot_01_64_021 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -178px -379px;
  }


  &.bg-emot_01_64_022 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -262px -379px;
  }


  &.bg-emot_01_64_023 {
      width: 64px; height: 75px;
      background: url('../../gfx/emoticons/emots_01_64.png') -190px -10px;
  }


  &.bg-emot_01_64_024 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -346px -379px;
  }


  &.bg-emot_01_64_025 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -430px -379px;
  }


  &.bg-emot_01_64_026 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -526px -10px;
  }


  &.bg-emot_01_64_027 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -526px -94px;
  }


  &.bg-emot_01_64_028 {
      width: 64px; height: 67px;
      background: url('../../gfx/emoticons/emots_01_64.png') -274px -99px;
  }


  &.bg-emot_01_64_029 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -526px -178px;
  }


  &.bg-emot_01_64_030 {
      width: 64px; height: 64px;
      background: url('../../gfx/emoticons/emots_01_64.png') -526px -262px;
  }


  &.bg-emot_01_64_031 {
      width: 66px; height: 83px;
      background: url('../../gfx/emoticons/emots_01_64.png') -10px -109px;
  }

  &.bg-emot_01_128_001 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -158px -376px;
  }


  &.bg-emot_01_128_002 {
      width: 128px; height: 139px;
      background: url('../../gfx/emoticons/emots_01_128.png') -480px -157px;
  }


  &.bg-emot_01_128_003 {
      width: 128px; height: 151px;
      background: url('../../gfx/emoticons/emots_01_128.png') -184px -183px;
  }


  &.bg-emot_01_128_004 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -306px -376px;
  }


  &.bg-emot_01_128_005 {
      width: 128px; height: 127px;
      background: url('../../gfx/emoticons/emots_01_128.png') -454px -679px;
  }


  &.bg-emot_01_128_006 {
      width: 128px; height: 139px;
      background: url('../../gfx/emoticons/emots_01_128.png') -332px -181px;
  }


  &.bg-emot_01_128_007 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -454px -376px;
  }


  &.bg-emot_01_128_008 {
      width: 142px; height: 127px;
      background: url('../../gfx/emoticons/emots_01_128.png') -480px -10px;
  }


  &.bg-emot_01_128_009 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -642px -10px;
  }


  &.bg-emot_01_128_010 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -642px -158px;
  }


  &.bg-emot_01_128_011 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -642px -306px;
  }


  &.bg-emot_01_128_012 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -10px -531px;
  }


  &.bg-emot_01_128_013 {
      width: 128px; height: 127px;
      background: url('../../gfx/emoticons/emots_01_128.png') -602px -679px;
  }


  &.bg-emot_01_128_014 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -158px -531px;
  }


  &.bg-emot_01_128_015 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -306px -531px;
  }


  &.bg-emot_01_128_016 {
      width: 128px; height: 153px;
      background: url('../../gfx/emoticons/emots_01_128.png') -184px -10px;
  }


  &.bg-emot_01_128_017 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -454px -531px;
  }


  &.bg-emot_01_128_018 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -602px -531px;
  }


  &.bg-emot_01_128_019 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -790px -10px;
  }


  &.bg-emot_01_128_020 {
      width: 154px; height: 160px;
      background: url('../../gfx/emoticons/emots_01_128.png') -10px -10px;
  }


  &.bg-emot_01_128_021 {
      width: 128px; height: 127px;
      background: url('../../gfx/emoticons/emots_01_128.png') -750px -679px;
  }


  &.bg-emot_01_128_022 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -790px -158px;
  }


  &.bg-emot_01_128_023 {
      width: 128px; height: 151px;
      background: url('../../gfx/emoticons/emots_01_128.png') -332px -10px;
  }


  &.bg-emot_01_128_024 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -790px -306px;
  }


  &.bg-emot_01_128_025 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -790px -454px;
  }


  &.bg-emot_01_128_026 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -10px -679px;
  }


  &.bg-emot_01_128_027 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -158px -679px;
  }


  &.bg-emot_01_128_028 {
      width: 128px; height: 135px;
      background: url('../../gfx/emoticons/emots_01_128.png') -10px -376px;
  }


  &.bg-emot_01_128_029 {
      width: 128px; height: 128px;
      background: url('../../gfx/emoticons/emots_01_128.png') -306px -679px;
  }


  &.bg-emot_01_128_030 {
      width: 128px; height: 127px;
      background: url('../../gfx/emoticons/emots_01_128.png') -938px -10px;
  }


  &.bg-emot_01_128_031 {
      width: 132px; height: 166px;
      background: url('../../gfx/emoticons/emots_01_128.png') -10px -190px;
  }

}